<my-spinner *ngIf='showSpinner'>

</my-spinner>
<div class='panel panel-primary' *ngIf='!showSpinner'>
  <div class='panel-heading'>
    {{pageTitle}}
  </div>

  <div class='has-error' *ngIf='errorMessage'>{{errorMessage}}</div>

  <div class='table-responsive'>
    <table class='table' *ngIf='persons && persons.length'>
      <thead>
        <tr>
          <th>Name</th>
          <th>Year of birth</th>
          <th>Children</th>
          <th class='profession'>Profession</th>
        </tr>
      </thead>
      <tbody>
       <template ngFor let-person [ngForOf]="persons"> 
        <tr >
          <td>{{ person.Name }}</td>
          <td>{{ person.YearOfBirth }}</td>
          <td class='handPointer' (click)='toggleShow(person.Id)' [class.showDetail]="showDetail[person.Id]"><a>{{ person.NumChildren }}</a></td>
          <td class='profession'>{{ person.Profession }}</td>
        </tr>
        <tr [class.showDetail]="showDetail[person.Id]" [hidden]="!showDetail[person.Id]"><td colspan="4"><personDetail [id]='person.Id'></personDetail></td></tr>
       </template>
      </tbody>
    </table>
  </div>
</div>